.App {
  font-family: sans-serif;
  text-align: center;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
  padding: 20px;
  justify-items: center;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.card-body {
  background-color: #00425a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.steam-link {
  color: white;
  text-decoration: none;
}
.steam-link:hover {
  color: white;
}

.card {
  border: none !important;
}
.steam-fav-bts {
  display: flex;
  justify-content: space-between;
}
.fav {
  margin: 0;
}
/* .card-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */
